.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (width < 576px) {
    .container {
        margin: 20px;
    }
}

.text {
    font-size: 20px;
    letter-spacing: .7;
    font-weight: 400;
    color: var(--color-white);
}

.baner {
    margin-top: 10px;
    width: 180px;
}