.container {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    margin-top: 10px;
    text-align: center;
    color: var(--color-white);
    font-size: 20px;
    font-weight: 400;
}

.email {
    text-align: center;
    margin-top: 10px;
    color: var(--color-white);
    font-size: 22px;
    font-weight: 400;
}

.question {
    width: 70px;
    height: 70px;
    object-fit: contain;
}