.container {
    
}

.content {
    display: flex;
}

.link {
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 18px;
    color: var(--color-white);
    /* background-color: red; */

    cursor: pointer;
}


@media (width < 700px) {
    .content {
        flex-direction: column;
        justify-content: center;
        padding-left: 20px;
        gap: 30px;
        background-color: rgba(0, 0, 0, .5);
        backdrop-filter: blur(7px);

        position: absolute;
        z-index: 100;
        top: 0;
        width: 100%;
        height: 100vh;

        transition:all 0.5s ease;
    }
}


.burger {
    margin: 5px;
    display: none;
    width: 35px;
    height: 26px;

    position: relative;
    transition:all 0.5s ease;
}

.line {
    width: 100%;
    height: 4px;
    background-color: var(--color-lime);

    position: absolute;
    left: 0;
}

.topLine {
    top: 0;
}

.middleLine {
    top: 11px;
}

.middleLinePress {
    display: none;
}

.bottomLine {
    bottom: 0;
}

@media (width < 700px) {
    .burger {
        display: flex;
    }
}