.container {
    
}

.link {
    padding: 8px 50px 11px 50px;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 18px;
    color: rgb(240, 240, 240);

    background-color: #4992d6;
    border-radius: 4px;

    cursor: pointer;
}