.container {
    
}

.link {
    padding: 7px 50px 10px 50px;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 18px;
    color: var(--color-white);

    background-color: var(--color-blue);
    border-radius: 4px;

    cursor: pointer;
}