.container {
    display: flex;
    gap: 20px;
    padding: 10px 0;
}

.link {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 18px;
    color: var(--color-white);

    cursor: pointer;
}