.container {
    width: 100%;
    padding: 20px 0 20px 0;

    display: flex;
    flex: 1 1 auto;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 60px;
    width: 60px;
    object-fit: contain;
}

.title {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 26px;
    color: var(--color-white);
}

.subtitle {
    margin-top: 10px;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 24px;
    color: var(--color-blue);
}

.subtitle span {
    color: var(--color-lime);
}

.addText {
    padding: 0px 10px 20px 10px;
    margin-top: 10px;
    font-family: 'Oswald';
    letter-spacing: 0.5px;
    text-align: center;
    line-height: 120%;
    font-size: 18px;
    font-weight: 300;
    color: var(--color-white);
}

.soon {
    margin-top: 40px;
    font-family: 'Oswald';
    font-weight: 300;
    font-size: 20px;
    color: var(--color-lime);
}

.ul {
    padding: 10px;
}

.ul li {
    margin-top: 5px;
    margin-left: 20px;
    font-family: 'Oswald';
    letter-spacing: 0.5px;
    line-height: 120%;
    font-size: 18px;
    font-weight: 300;
    color: var(--color-white);
    list-style-type: disc;
}

ul li::marker {
    color: var(--color-lime);
}

.settings {
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.settings__img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.key {
    margin-left: 10px;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 20px;
    color: var(--color-white);
}