.container {
    width: 100%;
    padding: 80px 0 20px 0;

    display: flex;
    flex: 1 1 auto;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 60px;
    width: 60px;
    object-fit: contain;
}

.title {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 26px;
    color: var(--color-white);
}

.soon {
    margin-top: 40px;
    font-family: 'Oswald';
    font-weight: 300;
    font-size: 20px;
    color: var(--color-lime);
}