.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 20px;
}

@media (width < 576px) {
    .container {
        align-items: flex-start;
    }
}

.subtitle {
    margin-top: 10px;
    font-style: italic;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 30px;
    color: var(--color-blue);
}

.subtitle span {
    color: var(--color-lime);
}

.addText {
    padding: 0px 10px 20px 10px;
    margin-top: 10px;
    letter-spacing: 0.5px;
    line-height: 120%;
    font-size: 20px;
    font-weight: 400;
    color: var(--color-text);
}