.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 20px; 
    padding-top: 80px;
}

.content {
    max-width: 1200px;
    width: 100%;
}

.title {
    font-size: 20px;
    text-align: center;
}

.subtitle {
    margin: 40px 0 10px 0;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
}

.text {
    margin-top: 10px;
    line-height: 120%;
}

.ul li {
    margin-top: 8px;
    margin-left: 20px;
    list-style-type: disc;
    line-height: 120%;
}