.conteiner {
    width: 100%;
    background-color: rgba(20, 20, 20, 1);

    display: flex;
    justify-content: center;
}

.content {
    max-width: var(--max-width);
    width: 100%;
    padding: 10px 20px;

    display: flex;
    justify-content: space-between;
}

.logoBox {
    display: flex;
    align-items: center;
}

.logo {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.title {
    margin-left: 10px;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 24px;
    color: rgb(240, 240, 240);
}