
*{
    padding: 0;
    margin: 0;
    border: 0;
    }
    *,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }
    :focus,:active{outline: none;}
    a:focus,a:active{outline: none;}
    nav,footer,header,aside{display: block;}
    html,body{
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    }
    input,button,textarea{font-family:inherit;}
    input::-ms-clear{display: none;}
    button{cursor: pointer; background-color: transparent;}
    button::-moz-focus-inner {padding:0;border:0;}
    a, a:visited{text-decoration: none;}
    a:hover{text-decoration: none;}
    ul li{list-style: none;}
    img{vertical-align: top;}
    h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

#root{
    height: 100vh;
    width: 100%;
    font-family: 'Oswald';
    /* background-color: rgba(26, 26, 26, 1); */
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */

    --max-width: 1400px;
    --color-lime: #9ead31;
    --color-blue: #4992d6;
    --color-white: rgb(240, 240, 240);
    --color-background: rgba(26, 26, 26, 1);
    --color-dark-background: rgba(20, 20, 20, 1);
}

body {
    height: 100%;
    background-color: rgba(26, 26, 26, 1);
    font-family: 'Oswald';
}


/* max 1200 min 375*/