.container {
    width: 100%;
    height: 50px;
    
    background-color: var(--color-dark-background);

    display: flex;
    justify-content: center;
}

.content {
    max-width: var(--max-width);
    width: 100%;
    padding: 0px 20px;

    display: flex;
    align-items: center;
}

.text {
    text-align: center;
    font-family: 'Oswald';
    color: var(--color-white);
    font-size: 17px;
    font-weight: 300;
}