.container {
    margin-top: 20px;
    max-width: var(--max-width);
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.screen {
    border-radius: 10px;
    width: 300px;
    object-fit: contain;
}

@media (width < 700px) {
    .screen {
        width: calc(50% - 5px);
    }
}