.container {

    /* background-color: red; */
}

.content {
    display: flex;
    align-items: center;

    border-radius: 20px;
    border: 2px solid rgba(161, 173, 72, .8);
}

.title {
    font-size: 16px;
    text-transform: uppercase;
}

.flag {
    width: 26px;
    aspect-ratio: 1 /1;
    border-radius: 50px;

}